<script type="text/javascript" src="path-to-mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

    <ul class="nav nav-tabs">
      <li><a href="/" title="Home" <%=current?("/")%>>Home</a></li>
      <li class="active"><a href="/grammar"  title="Grammar" <%=current?("/grammar")%>>Grammar</a></li>
      <li><a href="/tests"  title="Tests" <%=current?("/tests")%>>Tests</a></li>
      <li><a href="/video"  title="Video" <%=current?("/video")%>>Video</a></li>
    </ul>

<br>
<div class="grammar">

  Recuerde que un PEG $G$ es una cuaterna $G =(\Sigma,V,P,S)$.

  <ol>
    <li>$\Sigma$ es el conjunto de terminales. 
    <li>$V$ es un conjunto (disjunto de $\Sigma$) que se denomina conjunto de 
        <i>símbolos no terminales</i>,
        <i>variables sintácticas</i> o <i>categorías gramáticales</i>.
    <li>$P$ es un conjunto de pares de $V \times (V \cup \Sigma )^*$. En vez de escribir
    un par usando la notación $(A, \alpha) \in P$ se escribe $A \leftarrow \alpha$.<br>
    Un elemento de $P$ se denomina <i>regla de análisis</i>. 
    <li>Por último, $S$ es un símbolo del conjunto
    $V$ que se denomina <i>expresión de arranque</i>.
  </ol>

  Concretando en la práctica, la gramática $G$ se tendría como:

  <ol>
    <li> <i>Conjunto de Terminales:</i>
        <br>
        $\Sigma = \{ (=), (;), (.), ID, NUMBER, PATH, VALUE, BEGIN, END, HEAD, OPTIONS, LOGO, WIDTH, HEIGHT \} \ \cup$ <br />
        $\ \cup \{ FORM, TXT, CHX, RBT, PWD \} $
        <br>
    <li> Conjunto de <i>símbolos no terminales</i>, <i>variables sintácticas</i> o <i>categorías gramáticales</i>:<br>
      $V = \{ start, initialize, options, logo, width, height, form, textbox, checkbox, radiobutton, password \} \ \cup $ <br>
      $\ \cup \{ ... \} $ <br>
    <li> Productions:
    <li> <i>Reglas de Análisis:</i>
    <ol>
      <pre>
      start       = BEGIN (initialize)? (options)? (form)* END DOT

      initialize  = HEAD ID

      options     = OPTIONS (logo)? (width)? (height)?

      logo        = LOGO ASSIGN PATH

      width       = WIDTH ASSIGN NUMBER

      height      = HEIGHT ASSIGN NUMBER

      form        = FORM (textbox / password / checkbox / radiobutton)*

      textbox     = TXT ID ID ASSIGN VALUE

      checkbox    = CHX ID ID ASSIGN VALUE

      radiobutton = RBT ID ID ASSIGN VALUE

      password    = PWD ID ID ASSIGN VALUE

      _ = $[ \t\n\r]*

      ASSIGN      = _ '=' _          
      DOT         = _ "." _
      SEMICOLON   = _ ";" _ 
      ID          = _ ([a-zA-Z_][a-zA-Z_0-9]*) _
      NUMBER      = _ [0-9]+ _ 
      PATH        = _ (["][\/]?[a-zA-Z0-9\/]*["]) _
      VALUE       = _ (["][a-zA-Z]*["]) _ 

      BEGIN       = _ ("begin"/"BEGIN") _
      END         = _ ("end"/"END") _
      HEAD        = _ ("head"/"HEAD") _
      OPTIONS     = _ ("options"/"OPTIONS") _ 
      LOGO        = _ ("logo"/"LOGO") _ 
      WIDTH       = _ ("width"/"WIDTH") _
      HEIGHT      = _ ("height"/"HEIGHT") _
      FORM        = _ ("form"/"FORM") _
      TXT         = _ ("txt"/"TXT") _
      CHX         = _ ("chx"/"CHX") _
      RBT         = _ ("rbt"/"RBT") _
      PWD         = _ ("pwd"/"PWD") _
      </pre>
    </ol>
    <li> <i>Expresión de arranque: </i> <br> $S = start$
  </ol>
</div>
<br>
<br>
<br>

